.content {
    position: relative;
}


footer {
    border: 1px solid #ccc;
    position: relative;
    background-color: #ccc
}

#footerP {
  padding-left: 1rem;
  font-family: "Arial Rounded MT Bold";
  padding-top: 1rem;
}

#to-top {
  position:fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: none;
}

.invalid-value{
    color:red;
    visibility: hidden;
}